<ons-page>
    <ul class="fa-ul">

        <ons-list-item class="topcoat-list__item_active" ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('view/dashboard.html')">
            <i class="fa-li fa fa-home fa-lg" style="top: 25%"></i>
            DashBoard
        </ons-list-item>

        <ons-list-item class="topcoat-list__item_active" ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('view/room1.html')">
            <i class="fa-li fa fa-comments fa-lg" style="top: 25%"></i>
            Room 1
        </ons-list-item>

        <ons-list-item class="topcoat-list__item_active" ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('view/room2.html')">
            <i class="fa-li fa fa-comments fa-lg" style="top: 25%"></i>
            Room 2
        </ons-list-item>

        <ons-list-item class="topcoat-list__item_active" ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('view/room3.html')">
            <i class="fa-li fa fa-comments fa-lg" style="top: 25%"></i>
            Room 3
        </ons-list-item>

        <ons-list-item class="topcoat-list__item_active" ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('view/room4.html')">
            <i class="fa-li fa fa-comments fa-lg" style="top: 25%"></i>
            Room 4
        </ons-list-item>

        <ons-list-item class="topcoat-list__item_active" ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('view/room5.html')">
            <i class="fa-li fa fa-comments fa-lg" style="top: 25%"></i>
            Room 5
        </ons-list-item>

        <ons-list-item class="topcoat-list__item_active" ng-click="ons.screen.dismissPage();">
            <i class="fa-li fa fa-sign-out fa-lg" style="top: 25%"></i>
            Logout
        </ons-list-item>

    </ul>

</ons-page>